<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>{{ titulo }}</h3>
      <form (ngSubmit)="login()">
        <div class="form-group m-md-2">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Introduce tu usuario"
            [(ngModel)]="usuario.username"
            autofocus
            required
          />
        </div>
        <div class="form-group m-md-2">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Introduce tu contraseña"
            [(ngModel)]="usuario.password"
            required
          />
        </div>
        <div class="form-group m-md-2">
          <input type="submit" class="btnSubmit" value="Login" />
        </div>
      </form>
    </div>
  </div>
</div>
